### Zeitreihen mit Standard-ML-Verfahren verarbeiten: Fahrradausleihen, SF
#### 1) Daten laden

In [5]:
import pandas as pd
from math import ceil

pd.set_option('display.max_columns', 20)

data_url=r'https://github.com/tplusone/hanser_ml_zeitreihen/blob/master/Daten/trip_weather_hourly.csv?raw=true'
df = pd.read_csv(data_url)

df['start_date'] = pd.to_datetime(df['start_date'])
df = df.set_index('start_date')
df.head()

,number_trips,id,duration,start_station_id,end_station_id,bike_id,date,max_temperature_f,mean_temperature_f,min_temperature_f,...,min_visibility_miles,max_wind_Speed_mph,mean_wind_speed_mph,max_gust_speed_mph,precipitation_inches,cloud_cover,events,wind_dir_degrees,zip_code,date_merge
start_date,,,,,,,,,,,,,,,,,,,,,
2013-08-29 09:00:00,12,4079.583333,1022.500000,53.916667,55.416667,285.000000,2013-08-29,74.0,68.0,61.0,...,10.0,23.0,11.0,28.0,0,4.0,NaN,286.0,94107,2013-08-29
2013-08-29 10:00:00,14,4138.785714,1677.857143,48.142857,44.428571,313.785714,2013-08-29,74.0,68.0,61.0,...,10.0,23.0,11.0,28.0,0,4.0,NaN,286.0,94107,2013-08-29
2013-08-29 11:00:00,42,4249.071429,2203.809524,55.738095,56.238095,439.452381,2013-08-29,74.0,68.0,61.0,...,10.0,23.0,11.0,28.0,0,4.0,NaN,286.0,94107,2013-08-29
2013-08-29 12:00:00,120,4370.008333,934.833333,55.716667,55.375000,456.083333,2013-08-29,74.0,68.0,61.0,...,10.0,23.0,11.0,28.0,0,4.0,NaN,286.0,94107,2013-08-29
2013-08-29 13:00:00,87,4505.528736,3934.103448,50.965517,49.494253,429.804598,2013-08-29,74.0,68.0,61.0,...,10.0,23.0,11.0,28.0,0,4.0,NaN,286.0,94107,2013-08-29